@font-face {
    font-family: "挡不住春来";
    src: url("挡不住春来.eot"); /* IE9 */
    src: url("挡不住春来.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("挡不住春来.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("挡不住春来.woff") format("woff"), /* chrome, firefox */
    url("挡不住春来.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("挡不住春来.svg#挡不住春来") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


